{% extends 'Prayer/base.html' %}

{% block content %}
    <div class="page-1-container">
        <div class="prayers-wrappers">
            <h2 style="color: rgb(0, 4, 10); text-align: center">Great! You've been partnered-up.<br>Check your e-mail for your confirmation</h2>
        </div>
    </div>
    
    <div class="scheduled">
        <h4 style="text-align: center">Note</h4>
        <p style="color: rgb(0, 4, 10); text-align: center">Scheduled time is non-transferable. All missed times are non-refundable but can be rescheduled</p>
    </div>
{% endblock %}